<!DOCTYPE html>
{% extends "first_app/base.html" %}
{% block body_block %}
<h1>Welcome to the Home Page</h1>
<div>
    <h4>Currently You are logged in. You are seeing a After Login View</h4>
</div>
<div><p><b>Check out some of the posts for the day</b></p></div>
<div>
    <p> Alcoholic beverages are among the most consumed drinks in the world.
        Such is the case that currently, about 36 billion liters (9.5 billion gallons)
        of alcohol are consumed every year around the world, enough to fill more than
        14,000 Olympic pools. So it is clear that alcohol and human beings are closely
        linked to each other. In fact, they seem to be so linked that the human body
        produces its own alcohol at all times.
    </p>
    <p>

        Ozone is an unstable substance. Being composed of three oxygen atoms,
        Ozone tends to disintegrate into simpler molecules in minutes.
        For that reason, the ozone gas in the atmosphere must be
        continuously replenished and would decrease until almost disappearing
        if it were not for certain ozone-producing sources. Ultraviolet
        radiation, thunderstorms and human activities produce most of the
        ozone present on Earth. But your body also contributes to it.
    </p>
    <p>
        One would think that because of the world being as connected as it is today,
        infectious diseases stand much less of a chance than any other time in history.
        It’s true to an extent, too, as our connectedness advances our collective
        knowledge in various fields, especially medicine. If you can get information
        on a disease in an isolated part of the world, biologists from around the world
        can study it and build up defenses against it
    </p>
    <p>

        Not all culling is for humans’ benefit. African wildlife conservationist
        s sometimes kill endangered animals as a means of maintaining the stability
        of an ecosystem. They aren’t concerned with only one species of animal,
        after all, but the biodiversity of the entire park.A large predator population
        means competition for limited resources. Lions, for example, will kill other species
        of big cats that are even more vulnerable. Even prey may need to be depopulated.
        Kruger National Park had to cull many
        of its hippos after a drought left the population with tool little food to survive.
    </p>
    <p>
        A series of fatal shark bites in Western Australia prompted the government
        to protect its beach-goers with drum lines set out to cull great whites,
        which were responsible for the majority of fatalities. But drum lines don’t
        discriminate, and the program was controversial because
        researchers feared they would harm the region’s biodiversity by ensnaring other fis
    </p>
</div>
{% endblock %}