<!DOCTYPE html>
{% extends "NBase.html" %}
{% block body_block %}
<div class=" container ">
        <div class="jumbotron">
            <p>
        Hello everyone. I am Sandeepan, I am a software professional having more than three years of experience in software industry.
        It's been quite a long time I have been working with Python. This website is developed by me and it is still undergoing development.

            </p>
    <p>
        The technology that has been used here is Django 2.2 as it's backend. Currently this site offers the users
        to register and login to this site and users can write a post about the topics given. There is no limitation of the posts that an user can write.

        User can view all the posts that have been written. There is no such access/privacy given at this moment. So an user will be able to view all
        the posts of this site once logged in. I will be adding more features going forward. It's my request
        to all the viewers and developers to contribute to this site.
    </p>

    <p>Feel free to reach out to me - skamley.social@gmail.com</p>
        </div>
</div>

{%  endblock %}