<!DOCTYPE html>
{% extends "first_app/NBase.html" %}
{% block body_block %}
<div class=" container ">
        <div class="jumbotron">
            Hello everyone. I am Sandeepan, I am a software professional having more than three years of experience in software industry.
    <br>It's been two years I have been working with Python. This website is developed by me and it is still undergoing development.
    <br><br>
    The technology that has been used here is Django 2.2 as it's backend. Currently this site offers the users
    to register and login to this site and users can write a post about the topics given. There is no limitation of the posts that an user can write.
    <br>
    User can view all the posts that have been written. There is no such access/privacy given at this moment. So an user will be able to view
    all <br>
    the posts of this site once logged in. I will be adding more features going forward. It's my request
    to all the viewers and developers to contribute to this site.
    <br> Reach out to me - skamley.social@gmail.com
        </div>
</div>

{%  endblock %}