<!DOCTYPE html>
{% extends "NBase.html" %}
{% block body_block %}
    <div class=" container">
        <div class="jumbotron">
            <div class="justify-content-sm-start d-flex flex-column ">
                {% if registered %}
                <div class="text-center bg-light text-dark">
                    <h3> Thank you for registering</h3>
                    <h4> Please click<a href="{% url 'first_app:AppHomePage' %}">&nbsp here &nbsp</a>to see the posts</h4>

                </div>
                {% else %}
                    <h3>New user registration page</h3>
                <br>
                    <!--<h4> Register Here - </h4> <br> -->
                    <form enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        {{ profile_form.as_p }}
                        <input type="submit" value="Register Here" class="btn btn-primary">

                    </form>
                {% endif %}
            </div></div></div>

{% endblock %}
