<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Storytellers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
 <nav class="navbar navbar-expand-lg fixed-top navbar-dark p-3 mb-2 bg-dark text-dark">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li><a class="navbar-brand" href="#">TST</a></li>
                <li><a class="navbar-brand" href="{% url 'admin:index'%}">Admin</a></li>
                <li><a class="navbar-brand" href="{% url 'first_app:Contacts'%}">About & Contacts</a></li>
                <li><a class="navbar-brand" href="{% url 'first_app:Posting'%}">Write a Post</a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li><a class="navbar-brand" href="{% url 'first_app:AppHomePage' %}">The Storytellers</a></li>
                </ul>

        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li><a class="navbar-brand" href="{% url 'first_app:Registration' %}">Register</a></li>
                {% if user.is_authenticated %}
                    <li> <a class="navbar-brand" href="{% url 'first_app:user_logout' %}">Log Out</a></li>
                {% else %}
                    <li> <a class="navbar-brand" href="{% url 'first_app:user_login' %}">Log In</a></li>
                {% endif  %}
            </ul>
        </div>
    </div>
 </nav>

    <div class="container-fluid">
        <div class="row">

            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <br><br><br>
                        <li class=" p-2 mb-1 bg-info text-white">
                            <div class="text-center">List of Topics</div>
                            <!-- <a class=" nav-link flex-column " href="#">Topic List </a> -->
                        </li>
                        {% for index in all_topics %}
                        <li class="nav-item">
                            <a class="nav-link text-center" href="#">{{ index.top_name}} </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="background-color: #eee;">
                <br><br><br><br>
                {% block body_block %}

                {% endblock %}
            </main>
        </div>
    </div>
</body>
</html>